<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

    <Package Name="MasterSelects Helper" UpgradeCode="B8F3C4A1-2D7E-4F9B-A6C8-1E5D9F0B3A72" Manufacturer="MasterSelects" Language="1033" Codepage="1252" Version="$(var.Version)" InstallerVersion="450" Scope="perUser">

        <SummaryInformation Keywords="Installer" Description="MasterSelects Native Helper" Manufacturer="MasterSelects" />

        <MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

        <MediaTemplate EmbedCab="yes" />

        <Feature Id="MainApp" Title="MasterSelects Helper" Description="Core application and FFmpeg libraries" Level="1" Display="expand" AllowAbsent="no">
            <ComponentRef Id="MainExecutable" />
            <ComponentRef Id="DLL_avcodec" />
            <ComponentRef Id="DLL_avformat" />
            <ComponentRef Id="DLL_avutil" />
            <ComponentRef Id="DLL_swresample" />
            <ComponentRef Id="DLL_swscale" />
            <ComponentRef Id="DLL_avdevice" />
            <ComponentRef Id="DLL_avfilter" />
            <ComponentRef Id="DLL_postproc" />
            <ComponentRef Id="FFmpegExe" />

            <Feature Id="ShortcutsFeature" Title="Shortcuts" Description="Start Menu and Desktop shortcuts" Level="1">
                <ComponentRef Id="StartMenuShortcut" />
                <ComponentRef Id="DesktopShortcut" />
            </Feature>
        </Feature>

        <ui:WixUI Id="WixUI_FeatureTree" />
        <WixVariable Id="WixUILicenseRtf" Value="wix\License.rtf" />

        <Property Id="ARPHELPLINK" Value="https://masterselects.app" />

        <!-- Launch after install checkbox (default: checked) -->
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch MasterSelects Helper" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />

        <CustomAction Id="LaunchApplication"
            ExeCommand=""
            FileRef="masterselects_helper_exe"
            Impersonate="yes"
            Return="asyncNoWait" />

        <InstallExecuteSequence>
            <Custom Action="LaunchApplication" After="InstallFinalize" Condition="WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1" />
        </InstallExecuteSequence>

    </Package>

    <Fragment>
            <StandardDirectory Id="LocalAppDataFolder">
                <Directory Id="INSTALLDIR" Name="MasterSelects Helper" />
            </StandardDirectory>
            <StandardDirectory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="MasterSelects Helper" />
            </StandardDirectory>
            <StandardDirectory Id="DesktopFolder" />
        </Fragment>

    <Fragment>
        <Component Id="MainExecutable" Directory="INSTALLDIR" Guid="A1B2C3D4-1111-4000-8000-000000000001">
            <File Id="masterselects_helper_exe" Name="masterselects-helper.exe" Source="target\release\masterselects-helper.exe" />
            <RegistryValue Root="HKCU" Key="Software\MasterSelects\Helper" Name="ExePath" Type="string" Value="[INSTALLDIR]masterselects-helper.exe" KeyPath="yes" />
            <RemoveFolder Id="CleanInstallDir" Directory="INSTALLDIR" On="uninstall" />
        </Component>

        <Component Id="DLL_avcodec" Directory="INSTALLDIR" Guid="A1B2C3D4-2222-4000-8000-000000000001">
            <File Id="avcodec_61.dll" Name="avcodec-61.dll" Source="target\release\avcodec-61.dll" />
            <RegistryValue Root="HKCU" Key="Software\MasterSelects\Helper\DLLs" Name="avcodec" Type="integer" Value="1" KeyPath="yes" />
        </Component>

        <Component Id="DLL_avformat" Directory="INSTALLDIR" Guid="A1B2C3D4-2222-4000-8000-000000000002">
            <File Id="avformat_61.dll" Name="avformat-61.dll" Source="target\release\avformat-61.dll" />
            <RegistryValue Root="HKCU" Key="Software\MasterSelects\Helper\DLLs" Name="avformat" Type="integer" Value="1" KeyPath="yes" />
        </Component>

        <Component Id="DLL_avutil" Directory="INSTALLDIR" Guid="A1B2C3D4-2222-4000-8000-000000000003">
            <File Id="avutil_59.dll" Name="avutil-59.dll" Source="target\release\avutil-59.dll" />
            <RegistryValue Root="HKCU" Key="Software\MasterSelects\Helper\DLLs" Name="avutil" Type="integer" Value="1" KeyPath="yes" />
        </Component>

        <Component Id="DLL_swresample" Directory="INSTALLDIR" Guid="A1B2C3D4-2222-4000-8000-000000000004">
            <File Id="swresample_5.dll" Name="swresample-5.dll" Source="target\release\swresample-5.dll" />
            <RegistryValue Root="HKCU" Key="Software\MasterSelects\Helper\DLLs" Name="swresample" Type="integer" Value="1" KeyPath="yes" />
        </Component>

        <Component Id="DLL_swscale" Directory="INSTALLDIR" Guid="A1B2C3D4-2222-4000-8000-000000000005">
            <File Id="swscale_8.dll" Name="swscale-8.dll" Source="target\release\swscale-8.dll" />
            <RegistryValue Root="HKCU" Key="Software\MasterSelects\Helper\DLLs" Name="swscale" Type="integer" Value="1" KeyPath="yes" />
        </Component>

        <Component Id="DLL_avdevice" Directory="INSTALLDIR" Guid="A1B2C3D4-2222-4000-8000-000000000006">
            <File Id="avdevice_61.dll" Name="avdevice-61.dll" Source="target\release\avdevice-61.dll" />
            <RegistryValue Root="HKCU" Key="Software\MasterSelects\Helper\DLLs" Name="avdevice" Type="integer" Value="1" KeyPath="yes" />
        </Component>

        <Component Id="DLL_avfilter" Directory="INSTALLDIR" Guid="A1B2C3D4-2222-4000-8000-000000000007">
            <File Id="avfilter_10.dll" Name="avfilter-10.dll" Source="target\release\avfilter-10.dll" />
            <RegistryValue Root="HKCU" Key="Software\MasterSelects\Helper\DLLs" Name="avfilter" Type="integer" Value="1" KeyPath="yes" />
        </Component>

        <Component Id="DLL_postproc" Directory="INSTALLDIR" Guid="A1B2C3D4-2222-4000-8000-000000000008">
            <File Id="postproc_58.dll" Name="postproc-58.dll" Source="target\release\postproc-58.dll" />
            <RegistryValue Root="HKCU" Key="Software\MasterSelects\Helper\DLLs" Name="postproc" Type="integer" Value="1" KeyPath="yes" />
        </Component>

        <Component Id="FFmpegExe" Directory="INSTALLDIR" Guid="A1B2C3D4-3333-4000-8000-000000000001">
            <File Id="ffmpeg.exe" Name="ffmpeg.exe" Source="target\release\ffmpeg.exe" />
            <RegistryValue Root="HKCU" Key="Software\MasterSelects\Helper\DLLs" Name="ffmpeg_exe" Type="integer" Value="1" KeyPath="yes" />
        </Component>
    </Fragment>

    <Fragment>
        <Component Id="StartMenuShortcut" Directory="ApplicationProgramsFolder" Guid="A1B2C3D4-4444-4000-8000-000000000001">
            <Shortcut Id="StartMenuLink" Name="MasterSelects Helper" Description="Video codec acceleration for MasterSelects" Target="[INSTALLDIR]masterselects-helper.exe" WorkingDirectory="INSTALLDIR" />
            <RemoveFolder Id="CleanShortcutFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\MasterSelects\Helper" Name="StartMenuShortcut" Type="integer" Value="1" KeyPath="yes" />
        </Component>

        <Component Id="DesktopShortcut" Directory="DesktopFolder" Guid="A1B2C3D4-5555-4000-8000-000000000001">
            <Shortcut Id="DesktopLink" Name="MasterSelects Helper" Description="Video codec acceleration for MasterSelects" Target="[INSTALLDIR]masterselects-helper.exe" WorkingDirectory="INSTALLDIR" />
            <RegistryValue Root="HKCU" Key="Software\MasterSelects\Helper" Name="DesktopShortcut" Type="integer" Value="1" KeyPath="yes" />
        </Component>
    </Fragment>

</Wix>
